.navbar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #600000;
}

.navbar-wrapper{
    width: 100%;
    display: flex;;
    flex-direction: row;
    justify-content: flex-end;
}
.logo{
    margin-left: 20px;
    width: 80px;
}

.navlink{
    float: right;
    margin-right: 50px;

}

.navlink{
    height: 50px;
    width: 100px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.685);
    display: inline-block;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    text-align:center;
    transition: all 0.2s;
}

.navlink:hover{
color:#000000;
background-color:#FFFFFF;
}

.button{
    background: none;
    border: none;
    color: #93352A;
    font-family: roboto-light;
}


@font-face {
    font-family: roboto-light ;
    src:local('src\fonts\Roboto\Roboto-Light.ttf');
}
@font-face {
    font-family: roboto-regular ;
    src:local('src\fonts\Roboto\Roboto-Regular.ttf');
}



